/* Main Page */

body {
    padding-top: 95px;
    background-image: url(../img/bg-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0!important;
    padding: 0!important;
    overflow-x: hidden;
}

html {
    margin: 0!important;
    padding: 0!important;
}

a:link,
a:active,
a:visited {
    color: unset;
    text-decoration: unset;
}


/* Navigation */

.navbar-wrapper {
    width: 100vw;
    background: #fff;
    box-shadow: 2px 2px 16px #000;
    text-align: center
}

.btn-start,
.btn-start:hover {
    background: #ff8d2c;
    color: #000;
    border-radius: 2px
}

.btn-small {
    font-weight: 400;
    padding: 4px;
}

.navbar-nav {
    padding-left: 8vw;
}


/* First Section */

.sec {
    position: relative;
}

.sec-1 {
    height: 600px;
}

.sec-1-centered {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 240px;
    padding-top: 240px;
    text-align: center
}

.bg-1-h-1 {
    position: absolute;
    top: 80px;
    width: 100%;
}

.sec-1-btn-wrapper {
    position: relative;
    text-align: center;
    color: white;
}

.sec-1-btn {
    color: white;
    font-weight: 600;
}

.sec-1-wrp-1 {
    position: absolute;
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(100, 93, 86, 0.5));
    height: 600px;
    width: 100%;
}


/* Second section */

.sec-2 {
    background: #fff;
    min-height: 600px;
}

.sec-2-wrp {
    padding-top: 9vw!important;
    padding-bottom: 20px;
    padding-left: 0
}

.sec-2-ribbon {
    position: absolute;
    top: 0;
    z-index: 999
}

.sec-2-ribbon img {
    width: 100%;
}

.text-orange {
    color: #ffb20f;
}

.sec-2-icon-dec {
    max-width: 19vw;
    word-wrap: break-word
}

.sec-2-icn-wrp {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 4px;
    transition-duration: .5s;
    cursor: pointer;
}

.sec-2-icn-wrp::before {
    content: '';
    position: absolute;
    display: block;
    left: -2vw;
    height: 80%;
    margin-top: 10%;
    border-radius: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4)
}

.sec-2-icn-wrp:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin-top: -2px
}

.sec-2-icn-wrp:hover::before {
    display: none;
}

.sec-2-icn-wrp:hover+.sec-2-icn-wrp::before {
    display: none
}


/* Section 3 */

.sec-3 {
    background-image: url(../img/bg-2.png), linear-gradient(to right, rgba(86, 61, 124, 0.4), rgba(100, 93, 86, 0.5));
    min-height: 600px;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 100px;
    background-position-x: right
}

.sec-3-list li {
    background: url(../img/blt.png) no-repeat left top;
    /* <-- change `left` & `top` too for extra control */
    padding: 0px 10px 10px 38px;
    /* reset styles (optional): */
    list-style: none;
    margin-top: 20px;
    font-weight: 600
}


/* Section 4 */

.sec-4 {
    background-color: #f5f5f5;
    min-height: 900px;
    background-image: url(../img/bg-3.png);
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
}

.sec-4-logo {
    background: #fff;
    width: 300px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
    padding: 50px;
    border-radius: 100%;
    margin: auto;
    margin-top: 270px;
    border: solid #f0f0f0 20px;
    position: relative
}

.sec-4-logo-outline {
    width: 440px;
    height: 440px;
    position: absolute;
    top: 270px;
    left: 50vw;
    margin-left: -230px;
    transform: rotate(-90deg);
    transition: transform .5s
}

.sec-4-logo img {
    margin: auto;
    width: 60%;
    margin-top: 10%;
}

.sec-4-icn {
    background: linear-gradient(to bottom, #ffb61a, #fe7c22);
    border-radius: 8px;
    box-shadow: 0px 0px 16px #f5f5f5;
    vertical-align: middle;
    display: inline;
}

.sec-4-part-title {
    display: inline;
    vertical-align: middle
}

.sec-4-part {
    position: absolute;
}

.sec-4-part:hover .sec-4-part-title {
    color: #ffb20f;
}

.sec-4-part .text-muted {
    padding-top: 16px;
}

.sec-4-part-1 {
    top: 140px;
    left: 45vw;
}

.sec-4-part-1 .sec-4-icn {
    margin-top: 30px
}

.sec-4-part-1:hover~.sec-4-logo-outline {
    transform: rotate(-162deg)
}

.sec-4-part-2 {
    top: 360px;
    left: 65vw;
}

.sec-4-part-2:hover~.sec-4-logo-outline {
    transform: rotate(-90deg)
}

.sec-4-part-3 {
    top: 620px;
    left: 60vw;
}

.sec-4-part-3:hover~.sec-4-logo-outline {
    transform: rotate(-18deg)
}

.sec-4-part-4 {
    top: 620px;
    right: 60vw;
}

.sec-4-part-4:hover~.sec-4-logo-outline {
    transform: rotate(54deg)
}

.sec-4-part-5 {
    top: 360px;
    right: 65vw;
}

.sec-4-part-5:hover~.sec-4-logo-outline {
    transform: rotate(126deg)
}


/* Section 5 */

.sec-5 {
    background: #fbf7f4;
    text-align: center
}

.sec-5 .card-footer {
    background: #fff
}

.sec-5 .card {
    position: relative;
    margin: auto;
    margin-top: 2vw;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.3);
    margin-bottom: 2vw;
}

.sec-5 .card .card-footer {
    padding: 0
}

.sec-5-ftr {
    border-left: 1px solid rgba(0, 0, 0, .125);
    padding: 1rem 0;
}

.sec-5-pln-icn {
    position: absolute;
    right: 8px;
    top: 110px
}

.sec-5-pln-icn:hover {
    box-shadow: inset 0px 0px 4px #fff;
    border-radius: 100%;
    cursor: pointer
}

.sec-5-slider {
    width: 100vw;
    position: relative;
}

.sec-5-slider .card-img-top {
    height: 201px
}

.sec-5 .slick-next {
    right: 30px;
}

.sec-5 .slick-prev {
    left: 30px;
}

.sec-5 .slick-prev::before,
.sec-5 .slick-next::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-size: 100%;
    opacity: 0.6;
}

.sec-5 .slick-next,
.sec-5 .slick-prev {
    z-index: 999;
}

.sec-5 .slick-prev:hover::before,
.sec-5 .slick-next:hover::before {
    opacity: 1;
}

.sec-5 .slick-next::before {
    background-image: url(../img/sec-5-arw-next.png);
}

.sec-5 .slick-prev::before {
    background-image: url(../img/sec-5-arw-prev.png);
}


/* Section 6 */

.sec-6 {
    background: #fff;
}

.square {
    position: relative;
    width: 75%;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 4px;
    cursor: pointer;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square:hover,
.square.square.active {
    box-shadow: 0 0 8px rgba(0, 0, 0, .125);
    border: none;
    background: #ffb61a;
    color: #fff;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.sec-6 .square .content {
    padding-top: 2vw;
}

.sec-6 .square .content img {
    width: 30%;
    margin-bottom: 1.5vw
}

.sec-6 .square .content:hover img,
.sec-6 .square.active .content img {
    filter: brightness(0) invert(1);
}

.sec-6-desc {
    display: none;
}

.sec-6-bg {
    max-width: 100%;
}

.sec-6-desc.active {
    display: inline-block;
}

.sec-7 {
    background-image: url(../img/sec-7-bg.jpg);
    background-size: cover;
}

.sec-8 {
    background: #28353d;
}

.sec-8 ul li:first-child {
    margin-top: 1.5rem;
}

.sec-8 ul li {
    margin-top: .5rem;
}

.sec-8 .divider {
    color: #6c757d;
    border-radius: 100%;
    border: 1px solid;
}

.sec-8 img {
    border-radius: 100%;
}




/* Responsive */

@media all and (max-width:900px) {
    body {
        padding-top: 173px;
    }
    .sec-1-centered {
        top: 100px;
        width: 100%;
    }
    .navbar-nav {
        padding-left: 0;
    }
    .sec-2-icn-wrp:hover::before,
    .sec-2-icn-wrp::before {
        display: none;
    }
    .sec-4-part {
        position: relative;
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;
        text-align: center;
        padding-bottom: 10vh;
    }
    .sec-4-part .text-right {
        text-align: center!important
    }
    .sec-6-bg {
        width: 100%;
    }
    .square {
        width: 100%;
        font-size: .75rem
    }
    .bd-navbar-nav{
        display: block;
    }
    .nav-item {
        width:100%;
        display: block;
    }
    .navbar-expand .navbar-toggler{
        top:1em;
        right:1em;
        position: absolute;
        display: block;
    }

    .navbar-nav-scroll {
        position: absolute;
        bottom: 100%;
    }

    .menu-expanded .navbar-nav-scroll {
        position: relative;
        top: 0;
        bottom: unset;
    }

    .sec-1{
        height:400px
    }

    .sec-1-wrp-1{
        height:400px;
    }

    .sec-4-icn {
        display: block;
        margin:auto;
    }
}